* {
    box-sizing: border-box;
}

body {
    margin-top: 0;
    font-family: "Lato";
    background: url("../images/backgroundbelief.png"),linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    background-attachment: fixed;
    background-blend-mode:multiply;
    text-wrap: wrap;

}