* {
    box-sizing: border-box;
}

body {
    margin-top: 0;
    font-family: "Lato";
    background: linear-gradient(90deg, rgba(48, 47, 79, 0.94) 24.45%, rgba(47, 47, 79, 0.87) 42.53%, rgba(45, 45, 77, 0.24) 91.42%), ;
    background-attachment: fixed;

}